/* grouped all IDs at the top of the stylesheet for easier readability */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

h1 {
    /* changed to ID from class to apply this code to all h1 elements */
    display: inline-block;
    font-size: 48px;
}

h2 {
    /* changed to ID from class to apply this code to all h2 elements */
    margin-bottom: 20px;
    font-size: 36px;
}

h3 {
    /* changed to ID from class to apply this code to all h3 elements */
    margin-bottom: 10px;
    text-align: center;
}

ul {
    /* changed to ID from class to apply this code to all ul elements */
    list-style-type: none;
}
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.company-name {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.seo {
    /* removed .header h1 - redundant */
    color: #d9dcd6;
}

.header-styling {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.page-links {
    display: inline-block;
    margin-left: 25px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* moved content elements to be before sidebar elements to match the structure of the site */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

#content-styling {
    /* consolidated all content styling elements into one id and renamed to something descriptive of all three elements */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

#content-styling img {
    /* changed id name to new, more descriptive name of content-styling which encompasses all three applicable images */
    max-height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-sidebar {
    /* consolidated all sidebar titles into one class and renamed to something descriptive of all three elements */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-sidebar img {
    /* changed class name to new, more descriptive name of content-styling */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer-text {
    font-size: 20px;
}
